{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Landing page</title>
</head>

<body>
    <div class="outer-box">
        <div class="box-form-input">
            <h3>Form Simulation</h3>
            <form action="/result" method="get">
                <label for="nodecount">Node Count (4 - 16)</label><br>
                <input type="number" id="nodecount" name="nodecount" value="" min="4" max="16" required><br>
                <label for="fnodecount">Faulty Node Count</label><br>
                <input type="number" id="fnodecount" name="fnodecount" value="" required><br><br>
                <label class="checkbox-container">Supreme general is traitor
                    <input type="checkbox" name="issupremetraitor" value="true">
                    <span class="checkmark"></span>
                </label>
                <span>Order:</span><br>
                <input type="radio" id="attack" name="order" value="attack" required style="width: 20px; height: 20px;">
                <label for="attack">Attack</label><br>
                <input type="radio" id="retreat" name="order" value="retreat" style="width: 20px; height: 20px;">
                <label for="retreat">Retreat</label><br>
                <br>
                <input type="submit" value="Submit" id="submit-button">
            </form>
        </div>
        <div class="box-information">
          <h1 style="margin-top: 0;">Byzantine General Problem Simulation</h1>
          <p>
            <h3>Syarat & Ketentuan</h3>
            <ol>
              <li>Supreme general adalah general pertama yang mengirim pesan</li>
              <li>Setiap general termasuk supreme general dapat menjadi traitor</li>
              <li>Setiap pesan dijamin terkirim</li>
              <li>General mengetahui siapa yang mengirim pesan ke dirinya.</li>
              <li>Pesan yang tidak dikirim dapat diketahui</li>
              <li>Value pesan yang kirim hanya berisi Attack atau Retreat</li>
              <li>Supreme general yang berkhianat mengirim pesan attack kepada general ganjil dan pesan retreat kepada general genap.</li>
              <li>General yang berkhianat selalu mengirim pesan yang berlawanan kepada general lain dari yang diberikan supreme general.</li>
              <li>General/Supreme General yang berkhianat tidak menyerang maupun mundur</li>
              <li>Apabila jumlah pesan yang diterima oleh general untuk Attack dan Retreat sama, maka konsensus yang akan diambil adalah Retreat.</li>
              <li>Kota berhasil dikuasai apabila terdapat minimal ⅔ dari total general yang sepakat untuk menyerang kota (untuk menjadikan simulasi hidup)</li>
            </ol>
          </p>
        </div>
    </div>
    <script>
      var nodeCount = document.getElementById('nodecount');
      nodeCount.addEventListener('input', function(e) {
        var faultyNodeCount = document.getElementById('fnodecount');
        var out = document.getElementById('out');
        var val = Math.floor((parseInt(nodeCount.value)));
        faultyNodeCount.setAttribute('max', val);
        out.value = faultyNodeCount.getAttribute('max');
      }, false);
    </script>
</body>

</html>