<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Landing page</title>
</head>

<body>
    <div class="outer-box">
        <div class="box-form-input">
            <h3>Byzantine General Problem Simulation</h3>
            <form action="#">
                <label for="nodecount">Node Count</label><br>
                <input type="number" id="nodecount" name="nodecount" value=""><br>
                <label for="fnodecount">Faulty Node Count</label><br>
                <input type="number" id="fnodecount" name="fnodecount" value=""><br><br>
                <label class="checkbox-container">Supreme general is traitor
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>

                <input type="submit" value="Submit" id="submit-button">
            </form>
        </div>
        <div class="box-information">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptates ut neque id corporis? Doloremque
            consectetur, eaque alias cum recusandae odio provident. Laudantium ipsum laborum, rem officiis ipsa vitae
            magni?
        </div>
    </div>
</body>

</html>