{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'fontawesome/js/all.min.js' %}"></script>
    <link href="{% static 'fontawesome/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'styles2.css' %}">
    <title>Simulation Page</title>
</head>
<body>
  <div class="outer-box">
    <h1>Byzantine General Problem Simulation</h1>
    <div class="legend">
      <h2>Legend</h2>
      <div class="legend-row">
        <i style="width: 40px;" class='fa-regular fa-chess-king'></i><h3>Supreme General</h3>
      </div>
      <div class="legend-row">
        <i style="width: 40px;" class='fa-regular fa-user'></i><h3>General</h3>
      </div>
      <div class="legend-row">
        <div style="position: relative;" class='nodes'></div><h3>Innocent</h3>
      </div>
      <div class="legend-row">
        <div style="position: relative;" class='nodes tnode'></div><h3>Faulty</h3>
      </div>
      
    </div>
    <div id="button-box"></div>
  </div>
  <!-- <div class="trying"></div> -->
  <div id="nodes-box"></div>
  <img id="castle-img" src="{% static 'castle.png' %}" alt="castle">

</body>
<script src="{% static 'animation.js' %}"
  defer
  data-honest-general="{{ honest_general }}"
  data-traitor-general="{{ traitor_general }}"
  data-total-general="{{ total_general }}"
  data-is-supreme-traitor="{{ is_supreme_traitor }}"
  data-order="{{ order }}"
>
</script>
{{ log|json_script:"log" }}
{{ decided_action|json_script:"decided_action" }}
</html>